@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply border-gray-700;
}

.base-bg {
    @apply bg-[#292B31];
    @apply text-gray-300;
}

.base-h-bg {
    @apply bg-[#1C1F23];
    @apply text-gray-300;
}

.resizing {
    cursor: col-resize;
}

.terminal-parent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.terminal {
    flex: 1;
    background-color: #000;
    font-weight: 100;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding: 0.5rem;
}

